@media only screen and (max-width: 768px) {
  .information-container {
    transform: translateY(0%);
  }
  .information-fullpage {
    padding-bottom: 70em;
  }
  .box {
    padding-bottom: 4em;
  }
  .step1image {
    height: auto;
    width: 90%;
    transform: translateY(1em);
  }

  .step2image {
    height: auto;
    width: 90%;
    transform: translateY(1em);
  }
  .login-signup-box {
    color: white;
    transform: translate(0em, 2em);
  }
  .box-container {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .box2 {
    transform: translateY(1em);
  }
  .box3 {
    transform: translateY(2em);
    padding-bottom: 20px;
  }

  .box4 {
    transform: translateY(4em);
    height: 200px;
  }
  .blog-container {
    margin: auto;
    width: 50%;
    padding-bottom: 10px;
  }

  .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    align-items: center;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
