html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

button.submit {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}
.backtoemployees {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}

form#cms {
  margin-top: 50px;
}
.addemployeesection {
  width: 800px;
  margin: 0 auto;
}
#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}

.homepage-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  background-image: url("/restaurant-employee");
  width: 100%;
}

.icon {
  font-size: 4em;
  padding: 20px;
}
.icon-sections {
  font-size: 4em;
}

.buttonshadow {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}
ul#employeetracker-list li {
  display: inline;
  padding: 40px;
}
.employeetrackerheader {
  padding-top: 20px;
  padding-bottom: 20px;
}

.information-fullpage,
.fullpage {
  display: block;
  height: 100%;
  width: 100%;
}
.step1text {
  padding-top: 20px;
}

.panel {
  background-color: rgba(0, 0, 0, 0.539);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}
.login-signup-box {
  color: white;
  transform: translate(-30em, 4em);
}

.information-container {
  transform: translateY(50%);
}

.reservation-section {
  padding-top: 40px;
}

.parrallax1 {
  /* The image used */
  background-image: url("../images/tables.jpg");

  /* Set a specific height */
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#step2section {
  display: none;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.signup-panel {
  display: none;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;

  left: 0;
  /* background-color: #111; */
  background-color: #f5f5f5;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.box {
  background-color: #f5f5f5;
  padding: 20px;
  width: 300px;
  height: 200px;
  padding: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box-container {
  padding: 40px;
}
.box2 {
  transform: translateX(3em);
}
.box3 {
  transform: translateX(6em);
}

.box4 {
  background-color: #f5f5f5;

  width: 300px;
  height: 350px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.row2 {
  padding-top: 20px;
}
#piechart {
  background-color: #f5f5f5;
}
.employee-cards {
  margin: 5px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.blog-container {
  display: flex;
  justify-content: center;
}

.addemployecontainer {
  padding: 20px;
}

.new-employee-button {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}

